<!DOCTYPE html>
<html lang="en">
<%- include("includes/head") %>
<body>
    <form action="/create-post" method="post" novalidate>
        <fieldset>
            <legend>Create a post</legend>
            <label for="title">Title:</label>
            <input type="text" name="title" placeholder="Title" required>
            <label for="content">Content:</label>
            <textarea name="content" placeholder="Content" required></textarea>
            <br/>
            <button type="submit">Create Post</button>
        </fieldset>
    </form>

    <%- include("includes/footer") %>
</body>
</html>