<!DOCTYPE html>
<html lang="en">
<body>
    <%- include("includes/header") %>
    <main>
        <form action = "/register" method = "post">
            <% if (error && error.length > 0) { %>
            <div class="error-message">
                <ul>
                    <% error.forEach(function(error) { %>
                        <li><%= error %></li>
                    <% }) %>
                </ul>
            </div>
        <% } %>
            <fieldset>
                <legend>Create an account</legend>
                <label for = "username">Username:</label>
                <input type = "text" id = "username" name = "username" required>
                <label for = "password">Password:</label>
                <input type = "password" id = "password" name = "password" required>
                <br/>
            <button type = "submit">Sign Up</button>
            </fieldset>
        </form>
    </main>
    <%- include("includes/footer") %>
</body>
</html>