<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/styles.css"/>
</head>
<body>
    <header>
        <h2> <a href= "/">Our Wonderful App</a></h2>
        <nav>
            <a href = '/login'>Log In</a>
        </nav>
    </header>
    <main>
        <h3>Hello this is the updated homepage</h3>
        <p>I trying to create a new Homepage page using Express.
            This is the updated backend Server acticvity tracking.
        </p>
    </main>
    <footer>
        <small>This belongs to me</small>
    </footer>
</body>
</html>